* {
    
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
    
  }
  
  a {
    text-decoration: none;
    font-size: 2rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 10;
  }